@model Media

@{
    ViewData["Title"] = "ConfirmBorrow";
}

<h2 class="text-center">Confirm your order!</h2>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            You are trying to order @Html.DisplayFor(MediaModel => MediaModel.Title).
        </div>

    </div>
    <br>
    <br>
    <br>
    <div class="row">

        <div class="col-12 text-center">
            <a asp-controller="Home" asp-action="ConfirmedBorrow" asp-route-id="@Model.InventoryId" class="btn btn-primary">Confirm</a>
        </div>
    </div>
</div>


<div class="form-group text-center">
    <div class="col-md-offset-2 col-md-2 ">
        <label class=" label-danger">@ViewBag.Error</label>
    </div>
</div>
