@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="card">
				<div class="card-header text-center">
					<h2>Welcome</h2>
				</div>
				<div class="card-body">
					<form class="form-signin">
						<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> <br>
						<input type="password" id="inputPassword" class="form-control" placeholder="Password" required> <br>
						
						<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button> <br>
					
					</form>
					<button class="btn btn-lg btn-primary btn-block text-uppercase">Sign up</button>
				</div>
			</div>
		</div>
    </div>
</div>